* {
	color: white;
}

div {
	padding: 5px;
	margin: 5px;
	background-color: midnightBlue;
}

button {
	background-color: darkGoldenRod;
	color: midnightBlue;
}

.info-updated {
    animation: flash 0.5s ease-out;
}

@keyframes flash {
    0% { color: yellow; }
    100% { color: white; }
}